<!DOCTYPE HTML>
<html>
    <head>
        <title>*NAZWA PROGRAMU*</title>
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    </head>
    <body>
        <div class="container">
            <div class="header" style="padding:10px">
                <h3>WITAJ W *NAZWA PROGRAMU*!</h3>
            </div>
            <div class="columns">
                <div class="col-2" style="padding:10px">
                    <ul class="menu">
                        <li class="divider" data-content="MENU">
                        </li>
                        <li class="menu-item">
                            <a href="/">Strona główna</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Lorem ipsum</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Vulputate sem</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Elementum sem</a>
                        </li>
                        <li class="menu-item">
                            <a href="/about-me/">O twórcy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6" style="padding:10px">
                    <h4>
                        Lorem ipsum dolor sit amet
                    </h4>
                    <p>
                        Sed volutpat congue leo non auctor. Nulla porta diam sed
                        velit pretium, et tincidunt leo posuere. Suspendisse
                        ante sapien, cursus sit amet purus in, mattis hendrerit
                        purus. Etiam facilisis ut sapien sit amet vehicula.
                        Nunc hendrerit fermentum quam eget ultricies. Phasellus
                        non augue sem. Ut at eleifend magna. Phasellus accumsan
                        quam in tincidunt dapibus. Praesent ultricies laoreet
                        ligula, eu pulvinar nisl consequat eu.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>