<!DOCTYPE HTML>
<html>
    <head>
        <title>*NAZWA PROGRAMU*</title>
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    </head>
    <body>
        <div class="container">
            <div class="header" style="padding:10px">
                <h3>WITAJ W *NAZWA PROGRAMU*!</h3>
            </div>
            <div class="columns">
                <div class="col-2" style="padding:10px">
                    <ul class="menu">
                        <li class="divider" data-content="MENU">
                        </li>
                        <li class="menu-item">
                            <a href="/">Strona główna</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Lorem ipsum</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Vulputate sem</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Elementum sem</a>
                        </li>
                        <li class="menu-item">
                            <a href="/about-me/">O twórcy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6" style="padding:10px">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Wybierz instrukcję:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-hover">
                                <td><a href="/attach-file-instruction/">Dodawanie załączników do wiadomości e-mail</a></td>
                            </tr>
                            <tr class="table-hover">
                                <td><a href="/finding-play-button/">Wyszukiwanie przyscisku "play"</a></td>
                            </tr>
                            <tr class="table-hover">
                                <td>Aenean elit erat</td>
                            </tr>
                            <tr class="table-hover">
                                <td>Aliquam rutrum velit urna</td>
                            </tr>
                            <tr class="table-hover">
                                <td>Cras in neque venenatis</td>
                            </tr>
                            <tr class="table-hover">
                                <td>Sed bibendum sapien turpis</td>
                            </tr>
                            <tr class="table-hover">
                                <td>Nulla porta diam sed velit</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>